.page-box {
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-color: black;
    width: 100%;
}

.header-box {
    display: flex;
    flex-direction: row;
    border-width: 5px;
    border-color: red;
}

    .header-pos {
        margin-top: -30px;
        position: fixed;
        width: 100%;
        z-index: 99;
        background-color: white;
    }

.banner-box {
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-color: blue;
    width: 100%;
}

.content-box {
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-color: green;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.content-box-internal {
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-color: orange;
    width: 66%;
    margin: auto;
}


/*@media (min-width: 990px){*/


    .row-column-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between + safe;
        flex-wrap: wrap;
        width: 40%;
        margin: auto;
    }

/*}*/

/*@media (max-width:989) {

    .row-column-flex {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border-width: 5px;
            border-color: purple;
            width: 100%;
            max-width: 100vw;
        }

}*/


.item-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 5px;
    border-color: yellow;
    width: 40%;
    max-height: 400px;
    max-width: 800px;
    margin: auto;
}

/*.video-title {
    display: flex;
}

.video-thumbnail {
    display: flex;
    position: relative;
    width: 100%;
}

.video-text {
    display: flex;
}

.video-link-button {
    display: flex;
}

.nav-link-box {
    display: flex;
}

.new-logo-box {
    display: flex;
}

.footer-box{
    display: flex;
}*/