.page-box {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    width: 100%;
}

.header-box {
    display: flex;
    flex-direction: row;
    border: 5px solid red;
}

    .header-pos {
        margin-top: -30px;
        position: fixed;
        width: 100%;
        z-index: 99;
        background-color: white;
    }

.banner-box {
    display: flex;
    flex-direction: column;
    border: 5px solid blue;
    width: 100%;
}

@media (min-width: 990px){


    .content-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 66%;
        margin: auto;
    }

}

@media (max-width: 989px) {

    .content-box {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border: 5px solid purple;
            width: 80%;
            max-width: 100vw;
        }

}


.item-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid yellow;
    width: 40%;
    max-width: 800px;
    margin: auto;
}

.video-title {
}

.video-thumbnail {
    width: 100%;
    height: auto;
    display: block;
}

.video-text {
   
}

.video-link-button {
    
}

.nav-link-box {
    display: flex;
}

.new-logo-box {
    display: flex;
}

.footer-box{
    display: flex;
}*/