.page-box {
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-color: black;
    width: 100%;
    max-width: 1920px;

}

.header-box {
    display: flex;
    flex-direction: row;
    border-width: 5px;
    border-color: red;
}

    .header-pos {
        margin-top: -30px;
        position: fixed;
        width: 100%;
        z-index: 99;
        background-color: white;
    }

.banner-box {
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-color: blue;
    width: 100%;
    max-width: 500px;
}

.content-box {
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-color: green;
    max-width: 800px;
}

.content-box-internal {
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-color: orange;
    max-width: 66%;

}


@media (min-width: 990px){


    .row-column-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        border-width: 5px;
        border-color: purple;

    }

}

@media (max-width:989) {

    .row-column-flex {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border-width: 5px;
            border-color: purple;
        }

}


.item-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 5px;
    border-color: yellow;
}

.video-title {
    display: flex;
}

.video-thumbnail {
    display: flex;
}

.video-text {
    display: flex;
}

.video-link-button {
    display: flex;
}

.nav-link-box {
    display: flex;
}

.new-logo-box {
    display: flex;
}

.footer-box{
    display: flex;
}